// Colors
$color-primary: #e20000; // red
$color-bgrd: #020203; // black-ish
$color1: black; // black
$color2: white; // white
$color3: #282d30; // light dark
$color4: #74798c; // grey
$color5: #F7F7F7; // light grey

// Header and Sidebar Dimensions
$header-small-screen-height: 68px;
$header-big-screen-height: 90px;

$sidebar-small-screen-width: 68px;
$sidebar-big-screen-width: 90px;

$tablet-min-width: 780px;
$desktop-min-width: 1024px;
$desktop-max-width: 1400px;
